---
interface Props {
  showText?: boolean;
  class?: string;
}

const { showText = true, class: className = "" } = Astro.props;
const title = "Full Stack Developer";
const subtitle = "Portfolio";
---

<a href="/" class={`header__logo ${className}`}>
  <div class="icon icon--primary">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m10 20 4-16m4 4 4 4-4 4M6 16l-4-4 4-4"></path>
    </svg>
  </div>
  {
    showText && (
      <div class="hidden sm:block">
        <div class="text-primary text-lg leading-tight font-bold">{title}</div>
        <div class="text-secondary text-xs font-medium">{subtitle}</div>
      </div>
    )
  }
</a>
