---
import { navigationLinks } from "@/data/site";

interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<nav class={`header__nav ${className}`}>
  {
    navigationLinks.map((item) => (
      <a href={item.href} class="header__nav-link">
        {item.label}
      </a>
    ))
  }
</nav>
