---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollAnimations from "../components/ScrollAnimations.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Backend Developer Portfolio</title>
  </head>
  <body class="font-sans antialiased">
    <Header />
    <main class="pt-24">
      <slot />
    </main>
    <Footer />
    <ScrollAnimations />
  </body>
</html>
